.completed {
  text-decoration: line-through;
}
.uncomleted {
  text-decoration: none;
}
.btn-edit {
  margin-top: 5px;
  margin-right: 10px;
}
.btn-delete {
  margin-top: 5px;
  margin-right: 5px;
}
