.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 30%;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
